<div class="col-xs-8">
{{#if successMessage}}
  <div class="alert alert-success" role="alert">{{successMessage}}</div>
{{/if}}
<div id="whisky-review">
  <button type="button" {{action "deleteWhisky"}} class="btn btn-danger">Delete</button>
  <h1>
    {{model.distiller}}
  </h1>
  <h2>
    {{model.bottle}}
  </h2>
  <h3>
    {{model.region}}
  </h3>
  <h3>
    {{model.rating}}
  </h3>
  <h3>
    {{model.color}}
  </h3>
  <p>
    {{model.notes}}
  </p>
  </div>
</div>
